@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger{
    height:24px;
    width:24px;
    position:relative;
    transition: all 0.25s;
    transform : rotate(0deg);
}

.hamburger-top,
.hamburger-bottom{
    height:3px;
    width:24px;
    position:absolute;
    top:0;
    left:0;
    background-color:#fff;
}

.hamburger-bottom{
    transform: translateY(10px);
}

.open{
    transform: rotate(90deg);
}

.open .hamburger-top{
    transform:rotate(45deg) translateY(8px);
}

.open .hamburger-bottom{
    transform:rotate(-45deg) translateX(-8px);
}